<!-- All this area goes before </body> closing tag --> 

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114059997-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114059997-1');
</script>
